.cor{
    background-color: #000;
    min-height: 100vh;
}
.rectangle10 {
    position: absolute;
    width: 1000px;
    height: 607px;
    background: #630000;
    border-radius: 10px;
    right: 21%;
    top: 2%;
}
  
.rectangle11 {
    position: absolute;
    width: 1000px;
    height: 607px;
    background: #D8B6A4;
    border-radius: 10px;
    right: 19%;
    top: 5%;
}
 
  
.rectangle12 {
    position: absolute;
    width: 1000px;
    height: 607px;
    background: #EEEBDD;
    border-radius: 10px;
    right: 17%;
    top: 9%;
}

.cadastro {
    position: absolute;
    width: 136px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 280%;
    color: #1E1E1E;
    right: 83%;
    top: 5%;
}

#nomeC{
    position: absolute;
    width: 800px;
    top: 20%;
    left: 5%;
    border-radius: 5px;
}

#emaiC{
    position: absolute;
    width: 800px;
    top: 70px;
    left: 3px; 
}

#passwordC{
    position: absolute;
    width: 800px;
    top: 260px;
    left: 50px;
    border-radius: 5px;
    
}

#passwordC2{
    position: absolute;
    width: 800px;
    top: 330px;
    left: 50px;
    border-radius: 5px;
    
}

#Cadastrar{
    position: absolute;
    top: 400px;
    right: 16%;
    width: 15%;
    height: 8%;
    font-size: 20px;
}
