.corFundo {
    background-color: #000000;
    min-height: 110vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar {
    background-color: #000000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    position: relative;
    padding: 0 20px; /* Ajuste o espaçamento dos itens */
    

  }
  
  .navbar::after {
    content: '';
    position: absolute;
    width: 1457px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(0.08deg);
    bottom: -8px;
    right: 40px;
  }
  
  .navbar-container {
    position: absolute;
    display: flex;
    align-items: center;
    right: 400px;
    
    
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
   
  }

  #item0{
    border-color: #000000;
  }

  #item1{
    border-color: #000000;
  }

  #item2{
    border-color: #000000;
  }

  #item3{
    border-color: #000000;
  }
  
  #item4{
    border-color: #000000;
  }
  
  .rectangle14 {
    position: absolute;
    width: 1270px;
    height: 500px;
    background-color: #D8B6A4;
    border-radius: 10px;
    right: 40px;
    top: 10%;
    margin-block: 10px;
  }
  /*#D8B6A4*/
  .Footer::before {
    content: '';
    position: absolute;
    width: 1457px;
    height: 0px;
    border: 1px solid #FFFFFF;
    transform: rotate(0.08deg);
    bottom: 1px; /* Ajuste o valor conforme necessário */
    right: 40px;
  }
  
  .Footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90px;
    bottom: 30px; /* Ajuste o espaçamento entre o footer e o rectangle14 */
    color: #ffffff;
    margin-block: -50px;
  }

  .Footer p {
    margin: 3px 0; /* Ajuste o valor conforme necessário */
    top: 20px;
  }

  #nome{
    position: absolute;
    width: 1000px;
    right: 100px;
    top: 70px;
    left: 36px;
  }

  #telefone{
    position: absolute;
    width: 450px;
    right: 100px;
    top:150px;
    left: 36px;
  }

  #Salario{
    position: absolute;
    width: 450px;
    right: 100px;
    top: 150px;
    left: 590px;
  }

  #Endereco{
    position: absolute;
    width: 1000px;
    right: 100px;
    top: 240px;
    left: 36px;
  }

  #Cadastrar2{
    position: absolute;
    top: 350px;
    left: 733px;
    width: 15%;
    height: 8%;
    font-size: 20px;
  }
  .titulo{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    left: 16px;
    top: 10px;
  }

  #letra{
    font-family: Arial, Helvetica, sans-serif;
    font-style: inherit;
    font-size: larger;
  }

  /* Altera a cor de fundo da barra de rolagem */
::-webkit-scrollbar {
    background-color: #141212;
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Altera a cor do indicador da barra de rolagem (o "polegar") */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  /* Altera a cor do indicador da barra de rolagem quando o mouse estiver sobre ela */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  
  